body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.leaflet-control-geocoder a {
	background-image: url(../images/geocoder.png);
	width: 36px;
	height: 36px;
}

.jumbotron h1,p{
	padding-left: 20px;
}

.btn-group{
	padding-left: 20px;
}